# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
myenv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
